<%= form_tag flats_path, method: :get, class: "mb-4" do %>
  <div class="input-group">
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a flat"
    %>
    <div class="input-group-append">
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>All Flats</h1>
    <%= link_to new_flat_path, class: "btn btn-primary" do %>
      <i class="fas fa-plus"></i> Add Flat
    <% end %>
  </div>

  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <% if flat.picture_url.present? %>
            <img src="<%= flat.picture_url %>" class="card-img-top" alt="<%= flat.name %>">
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= flat.name %></h5>
            <p class="card-text"><%= flat.address %></p>
            <div class="d-flex justify-content-between">
              <span><i class="fas fa-euro-sign"></i> <%= flat.price_per_night %></span>
              <span><i class="fas fa-user-friends"></i> <%= flat.number_of_guests %></span>
            </div>
            <%= link_to 'More info', flat_path(flat), class: "btn btn-outline-primary mt-2" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
